/* width */
:root{
		--body-color:#F2F0FF;
		--navigation-color:#F5F4FF;
		--icons-color:#9FA0A1;
		--text-color: #838385;
		--seperator-lines:#DBD8F4;
		--scroll-bar-line:#888;
		--scrollbar-track:#f1f1f1;
		--card-shadow:#7C76D7;
		--upper-aection-div:#EEEDF8;
		--upper-aection-shadow:#777;
		--settings-navigation:white;
		--table-even-color:#EBF5FB;
		--table-even-text-color:#555;
		--table-odd-color:#fff;
		--table-hover:#D9E3E9;
		--table-bottom-border:#aaa;
		--table-hover:#D9E3E9;
		--index-table-odd:#FFF;
		--index-table-even:#FFF;
		--index-table-head:#FFF;
		--cards-bottom:#FFF;
		--second-nav-text-color:black;
		--icons-hover-color:#4836DC;
		--delete-icon-color:rgba(255,0,0,0.7);
		--edit-icon-color:#8BC2E4;
		--blue-text:#027BC4;
		--live-stream-icons:#B3AEE2;
		--percentage-color:#9FA0A1;
	}
	.darktheme{
		--body-color:#161A2B;
		--navigation-color:#1F263C;
		--icons-color:#404860;
		--text-color: #E1E2E5;
		--seperator-lines:#1F263C;
		--scroll-bar-line:E1E2E5;
		--scrollbar-track:#1F263C;
		--card-shadow:#161A2B;
		--upper-aection-div:#404860;
		--upper-aection-shadow:#161A2B;
		--settings-navigation:#1F263C;
		--table-even-color:#1F263C;
		--table-even-text-color:#555;
		--table-odd-color:#0F1E3B;
		--table-bottom-border:transparent;
		--table-hover:#161A2B;
		--index-table-odd:#0F1E3B;
		--index-table-even:#1F263C;
		--index-table-head:#027BC4;
		--cards-bottom:#1F263C;
		--second-nav-text-color:#FFF;
		--icons-hover-color:#EBE29D;
		--delete-icon-color:#D46C8E;
		--edit-icon-color:#027BC4;
		--blue-text:#027BC4;
		--live-stream-icons:#EBE29D;
		--percentage-color:white;
	}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track); 
  transition: background 1s;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-line); 
  transition: background 1s;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background-color: var(--body-color);
		transition: background-color 1s;
	}
	.switch-btn{
			margin-left: 50px;
		background: #ccc;
		width: 45px;
		border-radius: 15px;
		padding: 2px 3px;
		cursor: pointer;
		display: flex;
		transition: padding-left 0.5s, background 0.5s;
	}
	.switch-btn span{
		width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	}

.switch-btn.btn-on{
	padding-left: 23px;
	background: #027BC4;
}
*{
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.leftSmall{

/*	float: left;*/
display: inline-block;
/*width: 15%;*/
	min-width: 250px;
	  height: 100%;
  overflow: auto;
  overflow-y: hidden;
/*	border:2px solid red;*/
	border-right: 1px solid var(--seperator-lines);
	transition: border-right 1s;
	position: fixed;
  top: 0;
  left: 0;
  height: 100%;
 
}
.logo{
height: 100px;
	width: 100%;
	 background-color: var(--navigation-color);
	 transition: background-color 1s;
padding-top: 20px;
/*	border:2px solid pink;*/

}
.logo img{
	display: block;
	width: 55px;
	height: 55px;
	margin: 0px 35%;
}
.menu{
	margin-top: 1px;
	 background-color: var(--navigation-color);
	 transition: background-color 1s;
	 height: 100%;

}
.menu a:hover div{
color: var(--icons-hover-color);
}

.menu-title{
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	font-size: 22px;
	font-weight: bold;
	color: #A1A0A6;
}
.menu-items{
	width: 100%;
/*	border: 2px solid purple;*/
	height: 60px;
	padding: 0 10%;
	margin-bottom: 0px;
	background-color: var(--navigation-color);
	transition: background-color 1s;
}
.menu-icon{
	float: left;
	width: 30%;
/*	border: 2px solid purple;*/
	height: 60px;
	padding: 6px 0;
	font-size: 25px;
	color: var(--icons-color);
}

.menu-desc{
	float: left;
	width: 70%;
/*	border: 2px solid purple;*/
	height: 60px;
	padding: 18px 0;
	font-size: 16px;
	color: var(--text-color);
}

.rightBig{
/*	float: left;*/
/*width: 85%;*/
	min-width: 1620px;
/*	height: 1000px;*/
/*display: inline-block;*/
position: fixed;
left:  250px;
height: 100%;
overflow: auto;
/*	border: 2px solid black;*/
}

.navigation{
	margin-left: 2px;
		width: 85%;
/*	border: 2px solid blue;*/
height: 100px;
	padding: 20px 20px 0px 20px;
	position: fixed;
	top: 0;
	background-color: var(--navigation-color);
	transition: background-color 1s;
	min-width: 1620px;
overflow: auto;

}
.navigation::after{
	content: '';
	clear: both;
	display: table;
}

.dashboard-title{
	float: left;
	width: 15%;
	color: var(--text-color);
	font-size: 25px;
	font-weight: bold;
/*	border: 2px solid green;*/
	padding: 8px 0;
	
}
.vods-categories{
		float: left;
	
	border: 2px solid #B6B2E3;
	margin-right: 120px;
	margin-top: 12px;
	border-right: none;


/*	height: 100px;*/


}
.vods-categories div{
	float: left;
	font-size: 20px;
	font-weight: bold;
	color: #A4A3A7;
	padding: 11px 50px;
	border-right: 2px solid #B6B2E3;
}
.vods-categories div:hover{
	background-color: #027BC4;
	color: white;
}

.search{
	float: left;
	width: 28%;
/*	border: 2px solid green;*/
	border-radius: 10px;
/*	height: 100px;*/
	background-color: #fff;
	padding: 10px 15px;
	color: #aaa;
}
input[type=text]{
  width: 90%;
  padding: 0px 20px;
  border: none;
  font-size: 18px;
  outline: none;
}
.mode{
	float: left;
	width: 30%;
/*	border: 2px solid green;*/
	padding: 10px 0px 10px 130px;
/*	height: 100px;*/
}
.mode >div{
	float: right;
	font-size: 18px;
	color: var(--text-color);
	font-weight: bold;
	
/*	border: 2px solid red;*/
}
.mode label{
	float: right;
	margin-left: 50px;
}
.mode .mode-toggle{
	float: right;
} 
.profile{
	
	float: right;
	width: 15%;
/*	border: 2px solid green;*/
/*	height: 100px;*/
}
.profile-image{
	float: left;
	border-radius: 50%;
}
.profile-image img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: block;

}
.profile-details{
	color: #939296;
	float: right;
}
.profile-name{

	font-size: 18px;
	color: var(--icons-color);
	font-weight: bold;
}
.main{
	position: fixed;
	width: 85%;
/*	border: 2px solid green;*/
	margin-top: 110px;
	height: 88%;
	overflow: auto;
	
}
.main::after{
	content: '';
	clear: both;
	display: table;
}
.withCards{
	position: fixed;
	float: left;
	min-width: 60%;
/*	border: 2px solid yellow;*/
	padding: 0 2%;
	color: var(--icons-color);
	font-size: 25px;
	font-weight: bold;
	height: 88%;
	overflow: auto;
	overflow-x: hidden;
/*	margin-top: 20px;*/

}
.cards{
/*	border: 2px solid green;*/
margin-bottom: 50px;
overflow-y: hidden;
height: 260px;
min-width: 1080px;
padding-left: 90px;


}
.cards::after{
content: "";
clear: both;
display: table;
}
.card{
	float: left;
/*	border: 2px solid white;*/	
	min-width: 20%;
	margin-right: 50px;
	border-radius: 10px;
	box-shadow: 0 4px 10px var(--card-shadow);
}
.top{
/*	border: 2px solid white;*/
	background-image: linear-gradient(to right, #7C76D7,#267ACA);
	padding: 30px 10px;
	color: white;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-weight: bold;
}
.top>div{
	color: white;
	display: inline-block;
	font-size: 18px;
	margin-top: 5px;
	margin-right: 50px;
/*	border: 2px solid red;*/
}
.top span {
	float: right;
	font-size: 30px;
	color: #F5F602;
/*	border: 2px solid green;*/
}
.bottom{
/*	border: 2px solid blue;*/
background-color: var(--cards-bottom);
transition: background-color 1s;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
.number{
/*	border: 2px solid orange;*/
	font-size: 40px;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
	color: var(--icons-color);
}
.percentage-higher{
/*	border: 2px solid pink;*/
	font-size: 14px;
	color: var(--percentage-color);
	text-align: center;
	padding: 15px 0;
}
.percentage-higher span{
	font-size: 18px;
}
.table-head{
/*		border: 2px solid pink;*/
		background-color: var(--index-table-head);
		transition: background-color 1s;
		border-radius: 10px;
		margin-top: 30px;
		padding: 2px 0;
		margin-right: 5%;
		min-width: 1050px;
		color: var(--text-color);
}
.table-head div:last-child{
	border-right: none;
}
.table-head::after{
content: '';
clear: both;
display: table;
}
.table-head div{
	text-align: center;
	float: left;
	width: 20%;
	font-size: 18px;
	font-weight: normal;
	padding: 15px 0;
	border-right: 1px solid #ccc;
}
.table-data{
/*	border: 2px solid green;*/
		background-color: var(--navigation-color);
		transition: background-color 1s;
		border-radius: 10px;
		margin-top: 5px;
		padding: 2px 0;
		margin-right: 5%;
		font-size: 16px;
		min-width: 1050px;
}
.table-data .row{
/*	border: 2px solid black;*/

border-bottom: 2px solid #161A2B;
}
.table-data .row:nth-child(even){
	background-color: var(--index-table-even);
	transition: background-color 1s;
	border-bottom: 2px solid var(--table-even-color);
}
.table-data .row:nth-child(odd){
	background-color: var(--index-table-odd);
	border-bottom: 2px solid var(--table-even-color);
	transition: background-color 1s;
}
.table-data .row:last-child{
	border-bottom: none;
}
.table-data .row::after{
	content: '';
	clear: both;
	display: table;
}

.table-data .row div{
	text-align: center;
	float: left;
	width: 20%;
	
	font-weight: normal;
/*	padding: 13px 0;*/
	
}
.add-padding-top{
	padding: 10px 0;
}
.name-and-icon{
	text-align: center;
/*	border: 2px solid red;*/
	margin: 0;
	padding: 5px 0 0 10px;

}
.name-and-icon img{
width: 30px; float: left; border: 2px solid red; margin: 0px;
	height: 30px;
	border:3px solid #FFDF5C;
	border-radius: 50%;
}
.name-and-icon::after{
content: '';
clear: both;
display: table;
}
/*.table-data .row>div{
	text-align: left;
}
.table-data .row>div>div.name-icon{
	border-radius: 50%;
	border: 3px solid	#FFDF5C;
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 10px;
	padding: 0;

}*/

/*.table-data .row>div>div.name-icon img{
	display: block;
	width: 50%;
	border-radius: 50%;

}*/
.table-data .row div.status{
	border-bottom: none;
	border-radius: 50%;
	background-color: #49ED9B;
	height: 10px;
	width: 10px;
	margin: 5.5px 50%;
	padding: 0;
}

.subscriptions{
/*	float: left;*/
	position: fixed;
	height: 80%;
	overflow: auto;
	min-width: 20%;
	margin-left: 62%;
/*	border: 2px solid red;*/

	background-color: var(--cards-bottom);
	transition: background-color 1s;
	color: var(--icons-color);
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
}
.ka-graph{
/*	color: red;*/
font-size: 27px;
background-color: #FBFAFF;
border-radius: 10px;
margin: 30px 0;
}
.ka-graph p.sub{
	padding-top: 30px;
}
.ka-graph p{
	padding: 10px 30px;
}
.ka-graph-img img{
	display: block;	
	width: 100%;
	border-radius: 10px;
}
.subscriptions .top-sub-row{
/*	border: 2px solid green;*/
}
.subscriptions .top-sub-row::after{
content: '';
clear: both;
display: table;
}
.subscriptions .top-sub-row div{
	float: left;
	margin-right: 20px;
	margin-top: 15px;
/*	border: 2px solid yellow;*/
}
.subscriptions .top-sub-row div:last-child{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
/*	border: 2px solid yellow;*/
}
.subscriptions .top-sub-row div.image{
	background-color: #E1DFF2;
	padding: 5px 10px 0px 10px;
	border-radius: 5px;
}
.subscriptions .top-sub-row div img{
	width: 50px;
	height: 50px;
	border:3px solid #FFDF5C;
	border-radius: 50%;
}
.subscriptions .top-sub-row p{
	font-size: 16px;
	font-weight: normal;
	margin:8px 0;
}
.subscriptions .top-sub-row button{
	background-color: #9F95ED; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 33px;
}
  #subscribers_table, #vods_table {
  border-collapse: collapse;
  width: 99%;
  margin-left: 10px;
  overflow-x: hidden;
}
#subscribers_table th, #vods_table th{
padding: 15px ;
border-right: 1px solid #fff;
font-weight: bold;
font-size: 20px;
  text-align: left;
  background-color: #027BC4;
  color: white;
  
}
#subscribers_table td {
  border-bottom: 1px solid var(--table-bottom-border);
  padding: 15px ;
  font-size: 18px;
}

#subscribers_table tr:nth-child(even){
	color: var(--table-even-text-color);
	background-color: var(--table-even-color);
	transition: background-color 1s;
}

#subscribers_table tr:nth-child(odd){
	background-color: var(--table-odd-color);
	transition: background-color 1s;
	color: #777;
}

#subscribers_table tr:hover{
	background-color: var(--table-hover);
	transition: background-color 1s;
}


#subscribers_table input{
	width: 20px;
	height: 20px;
}
.adduser-subscribers_page{
	float: right;
	display: flex;
	justify-content: space-between;
	width: 170px;
	border: 1px solid #027BC4;
	color: #027BC4;
	padding: 20px 25px;
	border-radius: 10px;
	font-weight: bold;
}
.adduser-subscribers_page div{
cursor: pointer;
}
.livestream-row{
/*	border: 2px solid red;*/
	padding: 10px 0;
	height: 320px;

	

}

.single-card{
	width: 350px;
	height: 300px;
float: left;
/*	border: 2px solid green;*/
	margin-right: 20px;
}
.livestream-row .single-card:last-child{
margin-right: 2%;
}
.livestream-row .single-card:first-child{
margin-left: 4%;
}

.livestream-row::after{
	content: "";
	clear: both;
	display: table;
}
.upper-aection{
	height: 75%;
/*	border: 2px solid black;*/
	font-size: 20px;
	color: var(--live-stream-icons);
	margin-bottom: 10px;
	background-color: var(--upper-aection-div);
	transition: background-color 1s;
	box-shadow: 0 4px 10px var(--upper-aection-shadow);

}
.upper-aection img{
	float: left;
	display: block;
	width: 80%;
	height: 100%;
}
.upper-aection div{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	float: left;
/*	border: 2px solid orange;*/
	height: 100%;
	background-color: var(--upper-aection-div);
	transition: background-color 1s;
}
.upper-aection i{
	display: block;

}
.upper-aection::after {
	content: "";
display: table;
clear: both;
}

.lower-section{
	height: 25%;
/*	border: 2px solid yellow;*/
}
.lower-section::after {
	content: "";
display: table;
clear: both;
}
.tv-name{
/*	border: 2px solid pink;*/
	color: #707070;
	font-size: 25px;
	font-weight: bold;
	padding: 0px 0 5px 0;
}
.lowest-div{
	display: flex;
	justify-content: space-between;
/*	border: 2px solid pink;*/
	color: #787878;
	font-size: 18px;
	padding: 5px 0 0px 0;
}
.upper-aection div{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.single-card, .upper-aection, .upper-aection img{
	border-radius: 10px;
	
}
nav{
/*	border: 2px solid red;*/
	background-color: var(--settings-navigation);
	transition: background-color 1s;
	color: var(--second-nav-text-color);

}
ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	
	padding: 0;
}
ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 16.666667%;
	padding: 20px 0;
	border-radius: 5px;
}
ul li:hover, ul li:hover a{
	color: white;
	background-color: #027BC4;
}

ul::after{
	content: '';
	clear: both;
	display: table;
}